@page
@model WebApp.Pages_Move.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Move</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Move.PlayerOneTurn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Move.PlayerOneTurn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Move.GameState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Move.GameState.GameMode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Move.YCoordinate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Move.YCoordinate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Move.XCoordinate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Move.XCoordinate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Move.MoveId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
