@page
@model WebApp.Pages_Move.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Move</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Move.PlayerOneTurn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Move.PlayerOneTurn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Move.GameState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Move.GameState.GameMode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Move.YCoordinate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Move.YCoordinate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Move.XCoordinate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Move.XCoordinate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Move.MoveId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
