@page
@model WebApp.Pages_GameState.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameState[0].GameStateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameState[0].Turn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameState[0].GameStateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameState[0].BoardHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameState[0].BoardWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameState[0].GameMode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GameState) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameStateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameStateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameMode)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GameStateId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GameStateId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GameStateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
