@page
@model WebApp.Pages_GameState.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Saved Games</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameState[0].GameStateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameState[0].GameStateId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameState[0].BoardHeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameState[0].BoardWidth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameState[0].GameMode)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GameState)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameStateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameStateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameMode)
            </td>
            <td>
                <a asp-page="/Game/Game" asp-route-gameId="@item.GameStateId">Play</a>
            </td>
        </tr>
    }
    </tbody>
</table>